* {
    box-sizing: border-box; /* Asegura que el padding y border se incluyan en el ancho y alto de los elementos */
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #202020;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Asegura que el body tome el 100% del ancho */
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho del header */
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff0;
}

.player {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1500;
    background-color: #000;
    padding: 10px 0;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho del player */
}

.player-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho del contenedor */
}

.player-image {
    max-height: 100px;
    margin-right: 20px;
    border-radius: 5px;
}

.cuadroBordeado {
    flex: 1;
    height: 110px;
    border: none;
}

.now-playing, .upcoming-shows, .social-media-feed {
    text-align: center;
    margin-top: 20px;
}

.now-playing h2, .upcoming-shows h2, .social-media-feed h2 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

.app-promotion {
    text-align: center;
    background-color: #1a73e8;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.app-promotion h2 {
    margin-bottom: 15px;
}

.app-promotion p {
    font-size: 16px;
    margin-bottom: 20px;
}

.app-promotion a {
    display: inline-block;
    transition: transform 0.3s ease;
}

.app-promotion a:hover {
    transform: scale(1.05);
}

.app-promotion img {
    height: 40px;
    width: auto;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-icon {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}
